/*Variables*/
:root {
    --accent: rgb(0, 255, 171);
    --window: lightgrey;
    --window-shadow: darkgrey;
    --page: white;
    --light-text: white;
    --dark-text: black;
    --button: lightgrey;
    --button-press: grey;
    --button-press-border: black;
}
/*Sizing*/
@media only screen and (max-width: 600px){
    .container{ width: 100%;}
}
@media only screen and (min-width: 600px){
    .container{ width: 87.5%;}
}
@media only screen and (min-width: 768px){
    .container{ width: 75%;}
}
@media only screen and (min-width: 992px){
    .container{ width: 62.5%;}
}
@media only screen and (min-width: 1200px){
    .container{ width: 50%;}
}
/*HTML Elements*/
body{
    background-color: lightcyan;
}
main {
    background-color: var(--page);
    border-style: inset;
    padding: 5%;
    margin: 0;
    scrollbar-color: var(--window);
}
footer {
    background-color: var(--window);
    border-style: groove;
    border-color: var(--window-shadow);
}

/*Classes*/
/*REACT Layout Component Styling*/
.container {
    margin: auto;
    font-family: sans-serif;
    background-color: var(--window);
    padding: 3px;
}
/*
Page Heading bar.
Displays name of current page and includes 'Dummy' buttons
Styled to look like the top bar of old Windows 95 program windows
*/
.heading-bar {
    color: var(--page);
    background-color: var(--accent);
    list-style: none;
    padding: 2px;
    margin: 0;
    overflow: auto;
    cursor: default;
}
.hb-button {
    color: var(--dark-text);
    background-color: var(--button);
    border-style: outset;
    display: inline;
    float: right;
    text-align: center;
    height: 17px;
    padding: 1px;
    margin: 1px;
    line-height: 85%;
}
.hb-button:active{
    background-color: var(--button-press);
    border-color: var(--button-press-border);
    border-style: inset;
}

/*
Address Bar
Includes a mock of the current web page url
designed to look like the URL bar of old browser programs
*/
.address-bar{
    color: black;
    background-color: var(--window);
    border-style: groove;
    border-width: thin;
    border-color: var(--window-shadow);
    list-style: none;
    padding: 3px;
    margin: 0;
    overflow: auto;
    cursor: default;
}
.ab-name{
    display: inline;
    float: left;
    margin: 1px;
}
.ab-search-bar{
    color: var(--dark-text);
    background-color: var(--light-text);
    list-style: none;
    padding: 0;
    margin: 0;
    border-style: inset;
    overflow: auto;
    cursor: text;
}
.ab-button {
    background-color: var(--window);
    border-style: outset;
    float: right;
    text-align: center;
    cursor: default;
    line-height: 87%;
}
.ab-button:active{
    background-color: var(--button-press);
    border-color: var(--button-press-border);
    border-style: inset;
}
.ab-box{
    display: inline;
    float: left;
}

/*
Navigation Bar
Includes buttons to navigate to all site pages
Styled to look like the functions bar (file,edit,help,etc) on old programs
*/
.nav-links{
    color: var(--dark-text);
    background-color: var(--window);
    border-style: solid;
    border-width: thin;
    border-color: var(--window-shadow);
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: default;
    overflow: auto;
}
.nav-link-item {
    display: inline;
    padding: 8px;
    float: left;

}   
.nav-link-item:active{
    background-color: var(--button-press);
    border-color: var(--button-press-border);
}
.nav-link-text {
    color: var(--dark-text);
    text-decoration: none;
    text-align: center;
    width:100%;
    height: 100%;
    border: 0%;
    margin: 0%;
}

/*
Footer Bar
List of contents stored in the footer
Designed to look like the bar at the bootom of old browsers with web page loading text and a loading bar
*/
.footer-bar {
    list-style: none;
    overflow: auto; 
    padding: 0;
    margin: 0;
}
.fb-load{
    border-style: groove;
    float: right;
    list-style: none;
    margin: 4px;
    padding: 0;
    width: 100px;
    overflow: auto;
}/*
.fb-block{
    height: 9px;
    width: 5px;
    background-color: var(--accent);
    border: 1px solid var(--accent);
    box-shadow: 7px 0px var(--accent), 14px 0px var(--accent), 21px 0px var(--accent), 28px 0px var(--accent), 35px 0px var(--accent);
}
@keyframes fb-block{
    from {background-color: transparent; box-shadow: transparent;}
    to {background-color: var(--accent); box-shadow: var(--accent);}
}
*/ 



/*
Old nav link styling,
to be removed when new styling is finalised

.nav-links {
    background-color: transparent;
    border-style: outset;
    border-color: transparent;
    padding: 0%;
    margin: 0;
    display: flex;
    list-style: none;
    position: sticky;
    flex-direction: row;
    cursor: default;
}
.nav-link-item {
    justify-content: center;
    background-color: lightgrey;
    border-style: outset;
    width: 100%;
    height: 100%;
    display: flex;
}
.nav-link-item:hover {
    background-color: white;
    border-color: black;
}
.nav-link-item:active {
    background-color: lightgrey;
    border-color: black;
}
.nav-link-text {
    color: black;
    text-decoration: none;
    text-align: center;
    width:100%;
    height: 100%;
    border: 0%;
    margin: 0%;
}
*/

/*
Styling for more specific classess and elements
To be better organised in future
Consider moving some to more specific style sheets
*/
.heading {
    color: black;
}
.email-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
label {
    padding: 4%;;
    display: inline-block;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    
}
input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    
}
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
button[type=submit]:hover {
    background-color: #45a049;
}
.submit-button{

    content: "";
    display: table;
    clear: both;
}

.name-box{
    width: 35%;
    margin-top: 6px;
}
.email-box {
    width: 35%;
    margin-top: 6px;

}
.message-box {
    width: 80%;
    margin-top: 6px;
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 850px) {
    .name-box, .email-box {
        content: "";
        display: table;
        clear: both;
    }
}

